dn: uid={{ firstname | lower }}{{ lastname | lower }},ou=People,dc=irrational,dc=io
objectClass: inetOrgPerson
objectClass: top
objectClass: posixAccount
objectClass: shadowAccount
objectClass: person
sn: {{ lastname }}
cn: {{ firstname | lower }}{{ lastname | lower }}
uid: {{ firstname | lower }}{{ lastname | lower }}
userPassword: {{ enc_password }}
description: {{ description }}
gidNumber: 1000
uidNumber: {{ range(1000, 9000) | random }}
homeDirectory: /home/{{ firstname | lower}}{{ lastname | lower }}
mail: {{ firstname | lower}}{{ lastname | lower }}@example.com
